
<div class="flex min-h-screen items-center justify-center bg-gradient-to-br from-green-700 to-green-900">
  <div class="w-full max-w-md rounded-lg shadow-lg p-8 bg-white/80 backdrop-blur-sm">
    <!-- Encabezado -->
    <div class="flex flex-col items-center mb-6">
      <img src="assets/state-icon.png" alt="Member Type Icon" class="w-16 h-16 mb-2" />
      <h1 class="text-2xl font-bold text-gray-800">
        {{ isEdit ? 'Edit Member Type' : 'Add Member Type' }}
      </h1>
    </div>

    
    <form #stateForm="ngForm" (ngSubmit)="saveOrUpdateMemberType()" class="space-y-4">
      
      <div>
        <label class="block text-gray-700">Member Type Name</label>
        <input
          type="text"
          [(ngModel)]="memberType.name"
          name="name"
          required
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-400"
        />
      </div>

      <div>
        <label class="block text-gray-700">Code</label>
        <input
          type="text"
          [(ngModel)]="memberType.code"
          name="code"
          required
          maxlength="10"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-400"
        />
      </div>

      <div class="flex items-center space-x-3">
        <input
            type="checkbox"
            [(ngModel)]="memberType.isActive"
            name="active"
            id="active"
            class="h-5 w-5 text-green-600 border-gray-300 rounded focus:ring-2 focus:ring-green-400"
        />
        <label for="active" class="text-gray-700 font-medium">
            Active
        </label>
      </div>
      
      <button
        type="submit"
        [disabled]="!stateForm.form.valid"
        class="w-full px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 focus:ring-2 focus:ring-green-400"
      >
        {{ isEdit ? 'Update State' : 'Add State' }}
      </button>
    </form>

    <p *ngIf="successMsg" class="mt-4 text-green-600 text-center">{{ successMsg }}</p>
    <p *ngIf="errorMsg" class="mt-4 text-red-600 text-center">{{ errorMsg }}</p>
  </div>
</div>